html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url(../images/bg-6.jpg) #212223;
  background-size: 650px;
  font-family: "Varela Round", sans-serif;
  padding-top: 230px;
}

h6 {
  margin-bottom: 12px;
}

#es-logo {
  max-width: 500px;
  z-index: 100;
}

#es-button {
  width: 100px;
}

.inp-radius {
  border-radius: 50px 0px 0px 50px;
  width: 250px;
}

.btn-radius {
  border-radius: 0px 50px 50px 0px;
  background: #ef413a;
  border: 1px solid #ef413a;
}


.btn2 {
  border-radius: 50px;
  letter-spacing: 0.03em;
}

.btn-radius:hover {
  background: #cc3737;
  border: 1px solid #ef413a;
}

.btn:active {
  background: #cc3737 !important;
}

.btn-group {
  margin-bottom: 8px;
}

.foodimg {
  position: absolute;
  transition-duration: 200ms;
}

#chicken {
  top: -10px;
  right: 300px;
  max-width: 200px;
}

#ramen {
  top: 200px;
  right: -20px;
  max-width: 200px;
}

#cookies {
  top: -2px;
  left: -10px;
  max-width: 200px;
}

#steak {
  bottom: -35px;
  right: 200px;
  max-width: 250px;
}

#spag {
  top: 400px;
  left: -30px;
  max-width: 200px;
}

#pancakes {
  bottom: -35px;
  left: 200px;
  max-width: 200px;
}

#eat-this,
#eat-other,
#google-maps-btn,
#startagain-btn {
  border-radius: 50px 50px 50px 50px;
  height: 40px;
  min-height: 40px;
}

#restaurant-name {
  color: #fff;
  margin-top: -20px;
}

#information {
  width: 500px;
  max-width: 95%;
  padding: 20px;
  border-radius: 8px;
  /* margin-top: -25px; */
  /* background: #ef413a; */
  background: #21222390;
  border: 2px solid #ef413a;
  color: #fff;
}

#info-screen {
  visibility: hidden;
}

#start-again {
  margin-top: 150px;
}

@media (max-width: 900px) {
  #es-logo {
    max-width: 400px;
  }

  #chicken {
    top: -10px;
    right: 100px;
    max-width: 180px;
  }

  #ramen {
    top: 90px;
    right: -20px;
    max-width: 120px;
  }

  #cookies {
    top: -2px;
    left: -10px;
    max-width: 160px;
  }

  #steak {
    bottom: -35px;
    right: 50px;
    max-width: 200px;
  }

  #spag {
    top: 500px;
    left: -30px;
    max-width: 150px;
  }

  #pancakes {
    bottom: -35px;
    left: 100px;
    max-width: 160px;
  }
}

@media (max-width: 450px) {
  #es-logo {
    max-width: 400px;
  }

  #chicken {
    top: -10px;
    right: 0px;
    max-width: 150px;
  }

  #ramen {
    display: none;
  }

  #cookies {
    top: -2px;
    left: -10px;
    max-width: 160px;
  }

  #steak {
    bottom: -35px;
    right: -20px;
    max-width: 150px;
  }

  #spag {
    display: none;
  }

  #pancakes {
    bottom: -35px;
    left: 0px;
    max-width: 160px;
  }
}

.loader {
  border: 8px solid #fff;
  border-radius: 50%;
  border-top: 8px solid #ef413a;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}